# Aula 6

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
mensal = pd.read_csv('https://raw.githubusercontent.com/Pedro-correa-almeida/Bootcamp_alura/main/Modulo_2/dados/dados_aula4', index_col=0, parse_dates=['data'])
mensal

           data                uf        gasto
0    2008-02-01          Rondônia   2931283.42
1    2008-03-01          Rondônia   1541682.52
2    2008-04-01          Rondônia   1525314.96
3    2008-05-01          Rondônia   1645953.84
4    2008-06-01          Rondônia   1406150.68
...         ...               ...          ...
4261 2020-11-01  Distrito Federal  20459325.27
4262 2020-12-01  Distrito Federal  22991567.76
4263 2021-01-01  Distrito Federal  23527050.29
4264 2021-02-01  Distrito Federal  22766952.62
4265 2021-03-01  Distrito Federal  31831917.45

[4266 rows x 3 columns]

In [ ]:
por_ano = mensal.groupby('ano')